:root {
  --content-padding-mobile: 20px;
  --content-padding-tablet: 30px;
  --content-padding-desktop: 40px;
  --content-width-mobile: ($mobile-width - var(--content-padding-mobile) * 2);
  --content-width-tablet: ($tablet-width - var(--content-padding-tablet) * 2);
  --content-width-desktop: ($desktop-width - var(--content-padding-desktop) * 2);
}

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

$font-family-base: "Open-Sans", sans-serif;
$font-size-base: 15px;
$font-size-label: 18px;
$line-height-base: 24px;
$font-family-heading: "Oswald",  "Arial", sans-serif;




$bg-color-button--hover: #2f2f1e;
$input-text-color--focus: #333;
$content-form-color--focus: #b3b3ff;
$bg-color-back: #ebebe0;
$heading-color: #b3b3ff;

$font-color-base: #b3b3ff;
$font-color-second: #ffb3b3;
$font-color-third: #94b8b8;


.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.mobile-hidden {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

a {
  text-decoration: none;
  color: inherit;
}